@tailwind base;
@tailwind components;
@tailwind utilities;


html,body {
    font-family: 'Poppins', sans-serif;
}

/* =========== Header Section CSS =========== */
.header_section {
    box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);
}
.main_menu a {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
.logo {
    width: 110px;
}
.right_content button {
    background: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 16px;
    color: #3C3C3C;
    margin-left: 5px;
    transition: .3s !important;
    -webkit-transition: .3s !important;
    -moz-transition: .3s !important;
    -ms-transition: .3s !important;
    -o-transition: .3s !important;
}

.right_content button:hover, .right_content .active {
    color: #fff;
    background: linear-gradient(167.57deg, #8FDD5D -2.74%, #71BB42 69.1%);
}
.separate {
    background: #B1B5BB;
    height: 30px;
    width: 2px;
}
.search_field img {
    width: 25px;
    float: left;
    height: 25px;
}
.search_field {
    display: flex;
    align-items: center;
}
.search_field input {
    font-weight: 400;
    font-size: 14px;
    color: #3C3C3C;
    opacity: 0.6;
    background: transparent;
    border: none;
}
.main_menu > a > img {
    height: 30px;
    width: 30px;
}


/* Sidebar Css */

.sidebar ul li a span {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin-left: 12px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.sidebar ul li a:hover span {
    color: #408440;
}
.sidebar img {
    width: 27px;
}


.popular_creators h4, .download_buttons h4, .others_link h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 15px;
}
.popular_creators .img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.popular_creators .details h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 4px;
}
.popular_creators .details p {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #4F4F4F;
}
.see_more {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #3C3C3C;
}
.see_more img {
    display: inherit;
    margin-left: 6px;
}
.others_link {
    width: 300px;
}
.links {
    display: table;
    clear: both;
}
.links a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3C3C3C;
    margin-right: 15px;
    float: left;
    margin-bottom: 5px;
}
.following_credentials {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.following_credentials p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3C3C3C;
    margin-right: 10px;
}
.following_credentials ul li a {
    height: 30px;
    width: 30px;
    background: #F0F0F0;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    margin-right: 6px;
}
.following_credentials ul {
    display: flex;
}






